.tile-style {
  font-weight: 700;
}

.timeline-style {
  max-height: 500px;
  overflow: scroll;
}

.timeline-card-style {
  border-radius: 0.25rem; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 2px 4px rgba(0, 0, 0, 0.06); /* Layered shadows for depth */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
}

.card-style{
  
}