.input-style {
    font-weight: var(--lwc-fontWeightBold, 700);
}

.input-style-size {
    font-size: 0.875rem;
}

.modal-style {
    padding-top: 135px;
}

.content-style {
    border-radius: 0.25px;
}