.tile-style {
  pointer-events: none;
  cursor: default;
  font-weight: 700;
}

.table-style {
  background-color: rgb(250, 250, 249);
  position: relative;
  overflow: hidden;
  display: flex;
  direction: rtl;
  max-height: 600px;
}

.footer-styling {
  position: initial;
}

.card-style {
  border-radius: 0.25rem; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 2px 4px rgba(0, 0, 0, 0.06); /* Layered shadows for depth */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
}