.card_header_icon{
    --slds-c-icon-color-foreground-default: #0D9DDA;
}

.card-style:hover{
    outline: 0;
    border: var(--slds-g-sizing-border-1) solid var(--slds-g-color-border-accent-2);
    box-shadow: 0 0 0 1px var(--slds-g-color-accent-1) inset;
}