.card_header_icon{
    --slds-c-icon-color-foreground-default: #0D9DDA;
}

.tf-popover{
    text-align: left;
    position: absolute;
    bottom: 44px;
    right: -65px;
    transform: translateX(-50%);
}

.tf-popover_header{
    color: white;
}